body{
    background: rgb(238, 240, 241);
    
}
img{
    height: 200px;
}

hr {
        border-style: dotted;
        border-width: 2px;
        width: 30%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family:'Times New Roman', Times, serif;
}

